{% extends 'base.html' %}
{% load static %}

{% block title %}Assistance Responses{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Assistance Responses</h1>
    <ul class="list-group">
        {% for response in responses %}
        <li class="list-group-item">
            <div class="row">
                <div class="col-md-3">
                    <strong>Request ID:</strong> {{ response.request.id }}
                </div>
                <div class="col-md-3">
                    <strong>Mechanic:</strong> {{ response.mechanic.user.username }}
                </div>
                <div class="col-md-6">
                    <strong>Response Text:</strong> {{ response.response_text }}
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-3">
                    <strong>Is Completed:</strong> {% if response.is_completed %} Yes {% else %} No {% endif %}
                </div>
            </div>
        </li>
        {% empty %}
        <li class="list-group-item">No assistance responses found.</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
